Repository hillsider-admins/hillsider-admins.github.io, pull requests merged in 2021-11, with the labels that each got.

#23 Closes #22
  data/table.html
  index.html
  parking-es6.js
  parking-jquery.js
Labels: javascript

#24 Issue4
  data/table.html
  parking-es6.js
  parking-jquery.js
  style/styles.css
Labels: css, javascript

#26 Closes #25 - change fontsize600 and colours
  style/styles.css
Labels: css
